<ion-view view-title="dash">
  <ion-content style="padding:0px;background:url('img/all_back.jpg') center center;  background-repeat: no-repeat;">
  <div class="row">
    <div class="col" style="text-align:center;">
     <img src="img/logo.png" style="  width: 110px;margin-top: 20px;">
    </div> 
  </div>
  <h2 style="color:#fff;text-align:center;font-size:20px;padding-top:55px;">Login With </h2>
  <div class="row" style="  padding-top: 50px;text-align: center;">
    <div class="col">
      <i class="icon  ion-social-facebook login-icon"></i>
    </div>
    <div class="col">
      <i class="icon  ion-social-linkedin-outline login-icon" style="padding: 9px 16px;"></i>
    </div>
    <div class="col">
      <i class="icon  ion-social-googleplus login-icon" style="padding: 9px 15px;"></i>
    </div>
  </div>
   <div class="row">
    <div class="col" style="text-align:center;">
     <h2 style="color:#fff;text-align:center;font-size:20px;padding-top:35px;">or</h2>
    </div> 
  </div>
  <div class="row" style="padding: 0 15px;">
    <div class="col login_box">
      <input type="text" placeholder="email" class="login_email">
      <input type="text" placeholder="password" class="login_email" style="border-top:1px solid #fff;">
    </div> 
  </div>
  <h2 class="forget_pass">forget password?</h2>
   <div class="row" style="  border-bottom: 1px solid #fff;">
    <div class="col" style="text-align: center;">
      <img src="img/next_button.png" ng-click="showAlert()">
    </div> 
  </div>
  <div class="col" style="text-align:center;">
     <h2 style="color:#fff;text-align:center;font-size:18px;padding-top:20px;"> sign-up with Email</h2>
  </div> 
 </ion-content>
</ion-view>