<ion-view view-title="dash">
  <ion-content class="padding" style="padding: 15px 0;">
  <div id="">
   <div class="row">
    <div class="col" style="padding:0; text-align:center;">
      <img src="img/person1.jpg" style="  border-radius: 50%;height: 150px;border: 4px solid #ED703A;">
    </div>
   </div>
  <div class="row">
    <div class="col" style="padding-right: 30px;">
      <h2 class="profile_input">First Name</h2>
    <input type="text" placeholder="" class="post_input">
    </div>
    <div class="col">
      <h2 class="profile_input">Last Name</h2>
     <input type="text" placeholder="" class="post_input">
     </div>  
  </div>
  <div class="row">
    <div class="col">
      <h2 class="profile_input">Tagline</h2>
      <input type="text" placeholder="" class="post_input">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="profile_input">Email</h2>
      <input type="text" placeholder="" class="post_input">
    </div>
  </div>
  <div class="row">
    <div class="col" style="padding-right: 30px;">
      <h2 class="profile_input">City</h2>
    <input type="text" placeholder="" class="post_input">
    </div>
    <div class="col">
      <h2 class="profile_input">Country</h2>
     <input type="text" placeholder="" class="post_input">
     </div>  
  </div>
  <div class="row">
    <div class="col">
      <h2 class="profile_input">Phone</h2>
     <input type="text" placeholder="" class="post_input">
     </div>  
  </div>
  <div class="row">
    <a class="bid_btn" style="margin-top: 14px;  position: absolute;
    right: 10px;">Update</a>  
  </div>
  </ion-content>
</ion-view>