<ion-view view-title="dash">
  <ion-content style="padding:0px;background:url('img/all_back.jpg') center center;  background-repeat: no-repeat;">
  <div class="row">
    <div class="col" style="text-align:center;">
     <img src="img/logo.png" style="  width: 110px;margin-top: 20px;margin-bottom: 70px;">
    </div> 
  </div>
<ion-slide-box on-slide-changed="slideChanged(index)" >
    <ion-slide>
      <div class="row">
        <div class="col" style="text-align:center;">
           <h2 style="color:#fff;text-align:center;font-size:18px;padding-top:30px;">Get Anything Done</h2>
           <p class="sucess_p">Tell us what you need help with and post a Gig.</p> 
        </div> 
      </div>
      <div class="row">
        <div class="col" style="text-align:center;">
          <a class="post_gig_2">Post Gig</a> 
        </div>   
       </div>
    </ion-slide>
    <ion-slide>
      <div class="row">
        <div class="col" style="text-align:center;">
           <h2 style="color:#fff;text-align:center;font-size:18px;padding-top:30px;">Bid on a Gig</h2>
           <p class="sucess_p"> Find a Gig you want to do and place your bid</p> 
        </div> 
      </div>
      <div class="row">
    </button>
        <div class="col" style="text-align:center;">
          <a class="post_gig_2">Browse Gigs</a> 
        </div>   
       </div>
    </ion-slide>
    <ion-slide>
      <div class="row">
        <div class="col" style="text-align:center;">
           <h2 style="color:#fff;text-align:center;font-size:18px;padding-top:30px;">Always connected</h2>
           <p class="sucess_p">Stay in touch with your fellow Gigsters via your Chats</p> 
        </div> 
      </div>
      <div class="row">
        <div class="col" style="text-align:center;">
          <a class="post_gig_2">Go to Chats</a> 
        </div>   
       </div>
    </ion-slide>
    </ion-slide>
</ion-slide-box>
 </ion-content>
</ion-view>