<ion-view view-title="dash">
  <ion-content style="padding:0px;background:url('img/all_back.jpg') center center;  background-repeat: no-repeat;">
  <div class="row">
    <div class="col" style="text-align:center;">
     <img src="img/logo.png" style="  width: 110px;margin-top: 20px;margin-bottom: 70px;">
    </div> 
  </div>
  <div class="row" style="padding: 0 15px;">
    <div class="col login_box">
    	<input type="text" placeholder="email" class="login_email">
    	<input type="text" placeholder="password" class="login_email" style="border-top:1px solid #fff;">
    </div> 
  </div>
  <div class="row">
    <div class="col" style="text-align:center;">
       <h2 style="color:#fff;text-align:center;font-size:18px;padding-top:30px;">sign me up now!</h2>
    </div> 
  </div>
 </ion-content>
  <div class="row" style="  border-top: 1px solid #fff;position: absolute;bottom: 50px;">
    <div class="col" style="text-align: center;">
      <img src="img/back_button.png">
    </div> 
  </div>
</ion-view>