<ion-view view-title="Chats">
  <ion-content>
    <div class="row">
      <div class="col" style="border-bottom: 1px solid #ffd34e;padding:px 0px;">
        <span class="post_span"><i class="icon  ion-chevron-left" style="font-size:18px;margin-right:5px;"></i></span>
        <h2 class="msg_name" style="float:right;">Chats</h2>
      </div> 
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right gigster_chat" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}" style="top: 7px;">
        <h2 class="msg_sender_name">Mike Lee</h2>
        <h2>{{chat.name}}</h2>
        <p style="color:#5e350d;">{{chat.lastText}}</p>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
