<ion-view view-title="dash">
  <ion-content class="padding" style="padding: 15px 0;">
   <div class="row browse_row" style="border-top: 3px solid #db9e36;">
    <div class="col col-20" style="padding: 0;">
      <img src="img/person1.jpg" class="browse_list_img" >
      <h2>Hemlock</h2>
    </div>
    <div class="col col-80"> 
    
      <h2 style="display: inline-block;">Photographer for family portrait</h2>
      <h2 style="display: inline-block;float:right;margin-top: 0;">$100</h2>
      <hr class="browse_hr">
      <p class="browse_p">Need someone to take a family portrait. Thinking of outdoor, fun shoot but suggestions are welcomed.</p>
      <img src="img/fb.jpg">
      <img src="img/google.jpg" style="margin-left: 5px;">
      <a class="bid_btn"href="tab/login_signup_screen">Bid</a>
    </div>
   </div>
   <div class="row browse_row">
    <div class="col col-20" style="padding: 0;">
      <img src="img/person2.jpg" class="browse_list_img" >
      <h2>Jenny</h2>
    </div>
    <div class="col col-80"> 
    
      <h2 style="display: inline-block;margin-top: 10px;">Weekly Part Time Cleaner Needed</h2>
      <h2 style="display: inline-block;float:right;">$55</h2>
      <hr class="browse_hr">
      <p class="browse_p">Need weekly part-time cleaner to help with cleaning 1 bedroom apartment and ironing. Weekdays preferred. 3 hours per week.</p>
      <img src="img/fb.jpg">
      <img src="img/google.jpg" style="margin-left: 5px;">
      <a class="send_btn" href="">Bid Send</a>
    </div>
   </div>
   <div class="browse_row">
   <div class="row ">
    <div class="col col-20" style="padding: 0;">
      <img src="img/person3.jpg" class="browse_list_img" >
      <h2>vectori</h2>
    </div>  
    <div class="col col-80"> 
    
      <h2 style="display: inline-block;margin-top: 10px;">Need Part-time helper</h2>
      <h2 style="display: inline-block;float:right;">$30</h2>
      <hr class="browse_hr">
      <p class="browse_p" ng-click="isbiddershow()">
        I have a NG 4 room HDB flat which requires someone to
        1) clean 2 toilets
        2) vacuum + mop all floors
        3) clean kitchen
        4) clean fans (alternate weeks)
        5) clean windows (alternate weeks)
        6) wipe furniture
        Starting from Mid May 2015. Please reply with your contact number, name and age. </p>
      <img src="img/fb.jpg">
      <img src="img/google.jpg" style="margin-left: 5px;">
      <a class="bid_btn" ng-click="isbiddingshow()">Bid</a>
    </div>
    </div>
   <div class="row" ng-if="bidders==true" style="margin-bottom: 15px;padding-top:15px;border-top: 1px solid #db9e36;">
      <div>
        <h2>Bids</h2>
        <img src="img/person4.jpg" class="browse_list_img">
        <img src="img/person5.jpg" class="browse_list_img" style="margin-left: 10px;">
        <img src="img/person6.jpg" class="browse_list_img" style="margin-left: 10px;">
        <img src="img/person4.jpg" class="browse_list_img" style="margin-left: 10px;">
      </div>
   </div>
    
<div class="row sample-show-hide" ng-if="bidding==true" style="padding-top:15px;border-top: 1px solid #db9e36;margin-bottom: 15px;">

    <div class="col col-67" style="padding-right: 25px;">
    <h2>Details of your bid</h2>
      <textarea placeholder="" rows="5" cols="10" class="browse_textarea"></textarea>
    </div>
    <div class="col col-33">
    <h2>Your bid price</h2>
        <input type="text" id="browse_input">
   </div>
</div>





    </div>
     
  
   
   <div class="row browse_row">
    <div class="col col-20" style="padding: 0;">
      <img src="img/person2.jpg" class="browse_list_img" >
      <h2>Jenny</h2>
    </div>
    <div class="col col-80"> 
    
      <h2 style="display: inline-block;margin-top: 10px;">Weekly Part Time Cleaner Needed</h2>
      <h2 style="display: inline-block;float:right;">$55</h2>
      <hr class="browse_hr">
      <p class="browse_p">Need weekly part-time cleaner to help with cleaning 1 bedroom apartment and ironing. Weekdays preferred. 3 hours per week.</p>
      <img src="img/fb.jpg">
      <img src="img/google.jpg" style="margin-left: 5px;">
      <a class="send_btn" href="">Bid Send</a>
    </div>
   </div>

  </ion-content>
</ion-view>
