<ion-view view-title="Account">
  <ion-content style="padding-bottom:50px;">
  <div class="row">  
    <div class="col">
      <h2 class="post_head">Post Gig</h2>
      <h2 style="font-family: 'source_sans_proregular';">Get help for anything and post a new Gig for free.</h2>
    </div> 
  </div>
  <div class="row">
    <div class="col">
      <h2>Tell us what you need help with</h2>
    <input type="text" placeholder="" id="post_input">
    </div> 
  </div>
  <div class="row">
    <div class="col">
      <h2>Details of the service you require</h2>
    <textarea placeholder="" rows="5" cols="10" class="browse_textarea"></textarea>
    </div> 
  </div>
  <h2 style="padding-left:10px; margin-bottom:0px;">How much you would like to pay?</h2>
  <div class="row">
      <div class="col">
      <span class="post_span">S$</span>
          <input type="text" placeholder="" id="post_input" style="width:80%;"> 
      </div>          
      <li class="item item-checkbox post_gig_check">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       Per Hour
      </li>
      <li class="item item-checkbox post_gig_check">
         <label class="checkbox">
           <input type="checkbox">
         </label>
         Per Gig
      </li>
    </div>
    <p class="skill_p">Leave blank for Gigster to quote</p>
  <div class="row">
    <div class="col" style="padding-right: 30px;">
      <h2>Skills</h2>
    <input type="text" placeholder="" id="post_input">
    </div>
    <div class="col">
      <h2>Locations</h2>
     <input type="text" placeholder="" id="post_input">
     </div>  
  </div>
  <h2 style="padding-left:10px; margin-bottom:0px;">Expiry date for your Gig</h2>
  <div class="row">
    <div class="col" style="padding-right: 27px;">
    <input type="date" placeholder="" id="post_input">
    </div>
    <div class="col" style="  position: relative;">
      <img src="img/upload.png" id="post_img">
    </div>  
  </div>
  <div class="row">
  <a class="bid_btn" style="margin-top: 14px;  position: absolute;
  right: 10px;">Post</a>  
  </div>
  </ion-content>
</ion-view>
